0 ICON "fusionfall.ico"
1 VERSIONINFO
FILEVERSION     1,1,1,0
PRODUCTVERSION  1,1,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "OpenFusion"
      VALUE "FileDescription", "FusionFall - Wine borderless test build (x86)"
      VALUE "FileVersion", "1.1.1-wine-windowfix"
      VALUE "InternalName", "ffrunner"
      VALUE "LegalCopyright", "(C) 2025 OpenFusion Contributors"
      VALUE "OriginalFilename", "ffrunner-android.exe"
      VALUE "ProductName", "FusionFall"
      VALUE "ProductVersion", "1.1.1-wine-windowfix"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
